.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #2f6158;
  padding: 1rem 2rem;
  gap: 1rem;
}

.col-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.crefito {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #2f6158;
  width: fit-content;
  padding: 0.7rem 1rem;
  font-size: 100%;
}

.slogan {
  font-size: 1.6rem;
  font-weight: 400;
  background: linear-gradient(to bottom, #ffffff, #ffffffc9, #f1f1f163);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

.redes-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.ctn-redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.meritos {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: end;
}

.linkedin {
  color: white;
}

.ctn-redes img {
  width: 4rem;
}

@media screen and (max-width: 746px) {
  .ctn-redes img {
    width: 3rem;
  }

  .col-2 img{
    width: 10rem;
  }

  .slogan{
    font-size: 1.2rem;
  }

  .col-1, .col-2, .ctn-redes{
    scale: .9;
  }
}


@media screen and (max-width: 500px) {
  .content-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85vw;
  }

  .col-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .meritos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}